.teaser {
  @include flex-center;
  height: auto;
  position: relative;
  width: calc(100% - 7px);

  &::before {
    content: "";
    display: block;
    width: calc(100vw - 10px);
    height: 100%;
    position: absolute;
    // background: linear-gradient(
    //   180deg,
    //   rgba(44, 19, 8, 0.76) 0%,
    //   rgba(51, 21, 7, 0.418) 60%,
    //   $color-background 100%
    // );
  }
}

.container {
  @include container;
  @include flex-center-column;
  position: relative;
  overflow: hidden;
}

.title {
  font-size: var(--font-size-huge);
  font-weight: $font-weight-bold;
  text-align: center;
  color: $color-text;
  text-shadow: 0 0 10px var(--shadow-color);
  display: block;
}

.kto {
  height: auto;
  width: 40%;
  filter: drop-shadow(0 0 10px var(--shadow-color));
  margin-right: 250px;

  @include breakpoint($breakpoint-tablet) {
    width: 250px;
    margin-right: 400px;
  }

  @include breakpoint($breakpoint-desktop) {
    width: 300px;
    margin-right: 500px;
  }
}

.ferajna {
  margin-left: 40%;
  max-width: 60%;

  @include breakpoint($breakpoint-tablet) {
    margin-left: 300px;
    max-width: 500px;
  }

  @include breakpoint($breakpoint-desktop) {
    margin-left: 400px;
    max-width: 600px;
  }
}

.logo {
  position: absolute;
  width: 90px;
  top: -90px;
  animation: rotate 10s linear infinite;
}

.text {
  font-size: var(--font-size);
  font-weight: $font-weight-bold;
  text-align: center;
  color: $color-text;
  text-shadow: 0 0 10px var(--shadow-color);
  display: block;
  margin-top: var(--padding-double);
  margin-bottom: var(--padding);
  line-height: 1.5;
}

.grid {
  @include grid3-1;
  margin-top: var(--padding-half);
}

.gridItem {
  @include gridItem;
  max-width: 400px;

  &:hover {
    box-shadow: 0 0 10px $color-shadow;
    cursor: pointer;

    .image {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.image {
  @include image;
  @include breakpoint($breakpoint-tablet) {
    max-width: 400px;
  }
}

.description {
  @include image-description;
  bottom: 0;
  font-weight: $font-weight-bold;
  font-size: var(--font-size);
  text-shadow: 0 0 10px var(--shadow-color);

  @include breakpoint($breakpoint-tablet) {
    font-size: var(--font-size-small);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
