.teaser {
  @include flex-center;
  height: auto;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: calc(100vw - 10px);
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(44, 19, 8, 0.897) 0%, rgba(51, 21, 7, 0.795) 60%, $color-background 100%);
  }
}

.container {
  @include container;
  @include flex-center-column;
  position: relative;
}

.title {
  font-size: var(--font-size-huge);
  font-weight: $font-weight-bold;
  text-align: center;
  color: $color-teaser;
  text-shadow: 0 0 10px var(--shadow-color);
  display: block;
}

.logo {
  position: absolute;
  width: 90px;
  top: -90px;
  animation: rotate 10s linear infinite;
}

.text {
  font-size: var(--font-size);
  font-weight: $font-weight-bold;
  text-align: center;
  color: $color-teaser;
  text-shadow: 0 0 10px var(--shadow-color);
  display: block;
  margin-top: var(--padding);
  margin-bottom: var(--padding);
}

.grid {
  @include grid3-1;
  margin-top: var(--padding-half);
}

.gridItem {
  @include gridItem;
  max-width: 400px;

  &:hover {
    box-shadow: 0 0 10px $color-shadow;
    cursor: pointer;

    .image {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.image {
  @include image;
  @include breakpoint($breakpoint-tablet) {
    max-width: 400px;
  }
}

.description {
  @include image-description;
  bottom: 0;
  font-weight: $font-weight-bold;
  font-size: var(--font-size);
  text-shadow: 0 0 10px var(--shadow-color);

  @include breakpoint($breakpoint-tablet) {
    font-size: var(--font-size-small);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
