.teaser {
  @include flex-center;
  height: auto;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: calc(100vw - 18px);
    height: 100%;
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(66, 28, 10, 0.884) 0%,
      rgba(66, 28, 10, 0.671) 85%,
      $color-background 100%
    );
  }
}

.container {
  @include container;
  @include flex-center-column;
}

.title {
  font-size: var(--font-size-huge);
  font-weight: $font-weight-bold;
  text-align: center;
  color: $color-secondary;
  text-shadow: 0 0 10px var(--shadow-color);
  display: block;
}

.grid {
  @include grid3-1;
  margin-top: var(--padding-double);
}

.gridItem {
  @include gridItem;
  max-width: 400px;

  &:hover {
    box-shadow: 0 0 10px $color-shadow;
    cursor: pointer;

    .image {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.image {
  @include image;
  @include breakpoint($breakpoint-tablet) {
    max-width: 400px;
  }
}

.description {
  @include image-description;
  bottom: 0;
  font-weight: $font-weight-bold;
  font-size: var(--font-size);
  text-shadow: 0 0 10px var(--shadow-color);

  @include breakpoint($breakpoint-tablet) {
    font-size: var(--font-size-small);
  }
}
