.buttonContainer2 {
  position: relative;
  width: 110px;
  height: 35px;
  overflow: hidden;
  border: 1px solid #000;
  font-family: var(--font-family);
  font-size: var(--font-size);
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
  top: var(--padding);
  margin-bottom: 40px;

  @media screen and (min-width: $breakpoint-tablet) {
    width: 130px;
    height: 45px;
    position: absolute;
    right: calc(var(--padding) + var(--padding-half));
    margin-bottom: 0;
  }

  button {
    width: 101%;
    height: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    letter-spacing: 1px;
    font-weight: bold;
    background: #585858;
    mask: url("./../../assets/images/button-mask.png");
    -webkit-mask: url("./../../assets/images/button-mask.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: #ffffff;

    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(29) forwards;
      animation: ani 0.7s steps(29) forwards;
    }
  }
}

.mas {
  position: absolute;
  color: $color-text;
  text-align: center;
  width: 101%;
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  position: absolute;
  margin-top: 7px;
  overflow: hidden;
  font-weight: bold;

  @media screen and (min-width: $breakpoint-tablet) {
    margin-top: 9px;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
