.switch {
  margin-bottom: var(--padding);
}

.gallery {
  --z: 25px; /* zig-zag */
  --s: 190px; /* size */
  --g: 5px; /* gap */

  display: grid;
  gap: var(--g);
  width: calc(2 * var(--s) + var(--g));
  grid-auto-flow: column;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 500px) {
    --z: 28px; /* zig-zag */
    --s: 220px; /* size */
    --g: 6px; /* gap */
  }

  @include breakpoint($breakpoint-tablet) {
    --z: 30px;
    --s: 330px;
    --g: 7px;
  }

  @include breakpoint($breakpoint-desktop) {
    --z: 32px;
    --s: 400px;
    --g: 8px;
  }
}

.image {
  width: 0;
  min-width: calc(100% + var(--z) / 2);
  height: var(--s);
  object-fit: cover;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  cursor: pointer;
  transition: 0.5s;
  filter: grayscale(1);
  border: 1px solid $color-border;
  border-radius: 5px;
  box-shadow: 2px 2px 0 var(--shadow-color), 3px 3px 0 var(--shadow-color-dark);
}

.gallery > img:hover {
  width: calc(var(--s) / 2);
  filter: grayscale(0);
}

.leftImage {
  @extend .image;
  place-self: start;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --mask: conic-gradient(from -135deg at right, #0000, #000 1deg 89deg, #0000 90deg) 50%/100%
    calc(2 * var(--z)) repeat-y;
}

.rightImage {
  @extend .image;
  place-self: end;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --mask: conic-gradient(from 45deg at left, #0000, #000 1deg 89deg, #0000 90deg) 50%
    calc(50% - var(--z)) / 100% calc(2 * var(--z)) repeat-y;
}

.imageActive {
  width: calc(var(--s) / 2);
  filter: grayscale(0);
}

.title {
  position: absolute;
  font-weight: $font-weight-bold;
  transition: $transition-slow;
  pointer-events: none;
  z-index: 2;

  &:first-of-type {
    bottom: var(--padding-half);
    left: var(--padding-half);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -90%;
      width: 200%;
      height: 100%;
      border: 1px solid $color-border;
      transition: $transition-slow;
      transform: skew(-20deg);
      background-color: $color-secondary;
      z-index: -1;
    }
  }

  &:last-of-type {
    top: var(--padding-half);
    right: var(--padding-half);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -90%;
      width: 200%;
      height: 100%;
      border: 1px solid $color-border;
      transition: $transition-slow;
      transform: skew(-20deg);
      background-color: $color-secondary;
      z-index: -1;
    }
  }
}

.titleActive {
  color: $color-highlight;
  font-size: var(--font-size-huge);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  &:first-of-type {
    &::before {
      left: -220%;
    }
  }

  &:last-of-type {
    &::before {
      right: -220%;
    }
  }
}
