.music {
  width: auto;
}

.container {
  @include container;
  @include flex-center-column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto auto 100px);

  @include breakpoint($breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 400px 100px);
  }
}

.gridSpacer {
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint($breakpoint-tablet) {
    grid-column: 1 / 3;
  }
}

.spacer {
  width: 30px;
  height: auto;
}

.gridItem {
  @include flex-center-column;
  justify-content: center;
  width: 100%;
  padding: var(--padding);
  overflow: hidden;
  margin: 0;
}

.header {
  text-align: center;
  font-size: var(--font-size-large);
  line-height: 2.5;
  font-weight: $font-weight-bold;
  margin-top: -15px;
  margin-bottom: var(--padding-half);
  position: relative;

  text-shadow: 1px 1px 1px rgba(12, 12, 12, 0.3);
  @include breakpoint($breakpoint-tablet) {
    margin-top: var(--padding-half);
  }

  @include breakpoint($breakpoint-desktop) {
    margin-bottom: var(--padding);
  }
}

.text {
  text-align: justify;
  margin-bottom: 1rem;
  line-height: 1.5;
  text-indent: var(--padding);
}

.video {
  border: 1px solid $color-border;
  padding: 10px;
  border-radius: 5px;
  aspect-ratio: 16 / 9;
  z-index: 2;
  background: url("/images/loader.png") no-repeat center center;
  background-size: 10%;
}

.image {
  border: 1px solid $color-border;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  object-position: center;
}
