.members {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.title {
  font-size: var(--font-size-large);
  font-weight: $font-weight-bold;
  color: var(--main-color);
  margin-bottom: var(--padding);
  text-align: center;
}

.container {
  width: 100%;
  @include flex-center-column;
  @include breakpoint($breakpoint-tablet) {
    flex-direction: row;
  }
  align-items: start;
}

.membersImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--padding);
  max-width: 450px;
  align-items: center;
  gap: 10px;
  margin: 0 auto;

  @include breakpoint($breakpoint-tablet) {
    width: 50%;
  }
}

.member {
  @include flex-center;
  min-width: 100px;
  min-height: 150px;
  max-width: 120px;
  max-height: 180px;
  overflow: hidden;
  cursor: pointer;

  // &:hover {
  //   .memberAvatar {
  //     transform: translateX(-50%);
  //   }
  //   .memberPhoto {
  //     transform: translateX(-51%);
  //   }
  // }
}

.memberActive {
  .memberAvatar {
    transform: translateX(-50%);
  }
  .memberPhoto {
    transform: translateX(-51%);
  }
}

.memberAvatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateX(50%);
  transition: $transition-slow;
}

.memberPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateX(51%);
  transition: $transition-slow;
  border: 1px solid $color-border;
  border-radius: 5px;
}

.membersText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: var(--padding);

  @include breakpoint($breakpoint-tablet) {
    width: 50%;
  }
}

.header {
  font-size: var(--font-size-small);
  font-weight: $font-weight-bold;
  color: var(--main-color);
  margin-bottom: var(--padding);
}

.text {
  font-size: var(--font-size-small);
  font-weight: $font-weight;
  color: var(--main-color);
  margin-bottom: var(--padding);
  text-align: justify;
}
