.header {
  border-bottom: 1px solid #696969cb;
  box-shadow: 0 0 10px var(--shadow-color);
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #e0e0e0;
  transition: $transition-slow;
}

.smallHeader {
  opacity: 0.9;
  transition: $transition-slow;
  border-bottom: 1px solid #3333333a;
  background-color: #3333333a;
  backdrop-filter: blur(10px);

  &:hover {
    opacity: 1;
  }

  @include breakpoint($breakpoint-tablet) {
    height: 50px;
  }

  @include breakpoint($breakpoint-desktop) {
    height: 60px;
  }
}

.container {
  @include container;
  padding: var(--padding-half) var(--padding);
  @include flex-between;
}

.smallContainer {
  padding: calc(var(--padding-half) / 2) var(--padding);
  height: inherit;
  transition: $transition-slow;
}

.logo {
  display: block;
  width: 100px;
  height: 100px;
  transition: $transition-slow;

  animation: blur 16s infinite 9s;
}

@keyframes blur {
  0% {
    transform: scale(1);
    filter: blur(0px) grayscale(0%) sepia(0%);
  }

  5% {
    transform: scale(0.9);
    filter: blur(4px) grayscale(90%) sepia(90%);
  }

  10% {
    transform: scale(1);
    filter: blur(0px) grayscale(0%) sepia(0%);
  }
}

.small {
  height: 50px;
  width: max-content;
  margin-left: var(--padding);

  @include breakpoint($breakpoint-tablet) {
    height: inherit;
  }
}

.modalMenu {
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 11;
  top: inherit;
  right: 0;
  background: $color-background;
  transition: $transition-slow;
  overflow: hidden;
  @include flex-center;
  align-items: flex-start;

  box-shadow: 0 0 10px var(--shadow-color);

  &.open {
    height: 100vh;
  }

  @include breakpoint($breakpoint-tablet) {
    display: none;
  }
}
