.gallery {
  width: auto;
}

.container {
  @include container;
  @include flex-center-column;
  position: relative;
}

.title {
  margin-bottom: var(--padding-half);
  text-align: center;

  @include breakpoint($breakpoint-tablet) {
    max-width: 60%;
  }
}

.button {
  right: 0;

  @include breakpoint($breakpoint-tablet) {
    right: var(--padding-half);
  }
}

.icon {
  margin-right: calc(var(--padding-half) / 3);
  margin-left: -10px;
  position: relative;
  top: 3px;
}

.author {
  font-size: var(--font-size);
  margin-bottom: var(--padding-half);
  margin-left: 10px;

  @include breakpoint($breakpoint-tablet) {
    margin-bottom: var(--padding-double);
  }
}

.grid {
  @include grid3-2-1;
}

.gridItem {
  @include gridItem;
  max-width: 400px;
  overflow: hidden;
  height: auto;

  &:hover {
    cursor: pointer;

    .image {
      opacity: 1;
      transform: scale(1.1);
    }

    .text {
      transform: translateX(100%);
      background-color: transparent;
    }
  }

  @include breakpoint($breakpoint-tablet) {
    max-width: 450px;
    min-height: 200px;
  }

  @include breakpoint($breakpoint-desktop) {
    min-height: 200px;
  }
}

.image {
  @include image;
}

.imageGallery {
  box-shadow: 0 0 10px $color-shadow;
  width: 100%;
}
