.gallery {
  width: auto;
}

.container {
  @include container;
  @include flex-center-column;
  position: relative;
}

.title {
  margin-bottom: var(--padding-double);
}

.button {
  @include button;
  position: absolute;
  top: var(--padding-half);
  right: var(--padding-half);
}

.icon {
  margin-right: calc(var(--padding) / 3);
  position: relative;
  top: 3px;
}

.author {
  font-size: var(--font-size);
  position: absolute;
  top: var(--padding);
  left: var(--padding);
}

.grid {
  @include grid;
}

.gridItem {
  @include gridItem;

  &:hover {
    box-shadow: 0 0 10px $color-shadow;
    cursor: pointer;

    .image {
      opacity: 1;
      transform: scale(1.1);
    }

    .text {
      transform: translateX(100%);
      background-color: transparent;
    }
  }
}

.image {
  @include image;
}

.text {
  @include image-description;
  white-space: pre-line;
}
