.nav {
  display: inline-block;
}

.list {
  @include reset-list;
}

.item {
  display: block;
  margin: 0;
  text-align: center;
  position: relative;

  &::before {
    background: $color-highlight;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  &:not(:last-child) {
    margin-bottom: pxToRem(50);

    &::after {
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      background-color: var(--text-color);
      border-radius: 50%;
      margin: 0 auto;
      position: absolute;
      bottom: pxToRem(-30);
      left: 0;
      right: 0;
    }
  }

  @media screen and (min-width: $breakpoint-tablet) {
    display: inline-block;
    text-decoration: none;
    transition: var(--transition);
    position: relative;

    &:not(:last-child) {
      margin-right: pxToRem(45);
      margin-bottom: 0;

      &::after {
        content: "";
        display: inline-block;
        width: pxToRem(1);
        height: 1.2em;
        background-color: var(--text-color);
        margin-left: 25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.7;
        left: 100%;
      }
    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
    &:not(:last-child) {
      margin-right: pxToRem(50);
    }
  }
}

.link {
  font-family: var(--header-font);
  font-size: var(--font-size-huge);
  color: var(--text-color);
  display: inline-block;
  margin: 0;
  text-decoration: none;
  transition: var(--transition);

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: var(--font-size);
  }
}

.linkActive {
  @extend .link;

  &::after {
    --_i: 100%;
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background: repeating-linear-gradient(135deg, #000000 0 8px, #c70e0e 0 16px, #ffffff 0 24px);
    position: absolute;
    bottom: -8px;
    left: 0;
    border: 0.5px solid $color-border;
    border-radius: 4px;
    box-shadow: 0 0 2px var(--accent-color);
    opacity: 0.7;
  }
}
