.contact {
  width: auto;
  position: relative;
  margin-bottom: var(--padding-double);
}

.container {
  @include container;
  @include flex-center-column;
}

.title {
  margin-bottom: var(--padding-double);
}

.grid {
  @include grid3-1;
  align-items: flex-start;
}

.gridItem {
  @include flex-center-column;
  justify-content: start;
  width: 100%;
  margin-bottom: 70px;

  @include breakpoint($breakpoint-tablet) {
    width: calc(100% / 3);
    min-height: 450px;
  }

  @include breakpoint($breakpoint-desktop) {
    min-height: 550px;
  }
}

.header {
  text-align: center;
  font-size: var(--font-size);
  line-height: 2.5;
  font-weight: $font-weight-bold;
  margin-bottom: var(--padding);
}

.text {
  text-align: center;
  font-size: var(--font-size);
  line-height: 2.5;
}

.icon {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  @include flex-center-column;
  line-height: 1.5;
  padding: var(--padding-half);
  border-radius: 5px;
  border: 1px solid transparent;
  transition: $transition;
  font-size: var(--font-size);

  position: relative;
  overflow: hidden;

  &:hover {
    border: 1px solid $color-border;
    box-shadow: 0 0 10px 0 $color-shadow;

    &::before {
      left: 100%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, $color-secondary, transparent);
    transition: $transition-slow;
    z-index: -100;
  }
}

.listName {
  display: block;
  text-align: center;
}

.listIcon {
  width: 20px;
  height: 20px;
  margin-right: var(--padding);
  display: inline-block;
  vertical-align: middle;
}

.link {
  color: $color-text;
  text-decoration: none;
  transition: $transition;
  font-size: var(--font-size-small);
  position: relative;

  &::before {
    background: $color-highlight;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

#facebook {
  &:hover {
    background-color: $color-facebook;
    & .link {
      color: $color-secondary;
      &::before {
        transform: scaleX(0);
      }
    }
  }
}

#instagram {
  &:hover {
    background: $color-instagram;
    & .link {
      color: $color-secondary;
      &::before {
        transform: scaleX(0);
      }
    }
  }
}

#youtube {
  &:hover {
    background-color: $color-youtube;
    & .link {
      color: $color-secondary;
      &::before {
        transform: scaleX(0);
      }
    }
  }
}

.image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 120px;
  margin-bottom: calc(var(--padding-double) * -1);
  opacity: 0.8;
  display: none;

  @include breakpoint($breakpoint-tablet) {
    display: block;
  }

  @include breakpoint($breakpoint-desktop) {
    width: 150px;
  }
}
